@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Source+Code+Pro:wght@300;400&display=swap');

/* Root Colour Scheme */
:root {
    --header-footer-color: #222222;
    --page-color: #2a2a2a;
    --border-color: #d4d2d5;

    /* General Palet */
    --primary-color: #1382CC;
    --secondary-color: #1F5880;
    --alternate-color: #E1E5F2;

    /* Font Colours */
    --heading-color: #FCFCFC;
    --font-color: #D4D2D5;
    --span-color: #D4D2D5;
    --footer-color: #E1E5F2;

    /* Transition Speeds */
    --hover-transition: .2s;
}

/* Applied Smoothing and Scroll Behaviour to All Elements */
* {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    
    scroll-behavior: smooth;
}

/* Main Element Styles */
html {
    background-color: var(--header-footer-color);
    font-size: 18px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--font-color);
    letter-spacing: .05rem;
}

/* Core elements */
header {
    text-align: center;
    background-color: var(--header-footer-color);

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

main {
    background-color: var(--page-color);
}

aside { }

footer {
    text-align: center;
    padding: 20px;
}


/* Articles */
#articles {

}

article {
    padding: 1.11rem;
}

article header {
    text-align: left;
    background-color: transparent;
}

#contents {
    padding: 100px 10px;
}

.container {
    max-width: 800px;
    margin: auto;
}

.content {
    padding: 20px;
}

.post {
    margin: 0;
}

/* Navigation section */

nav {
    /* Fancy Drop Shadow :O */
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,.3);
    position: relative;
    width: 100%;
    z-index: 3;
}

/* Navigation background (using the unordered list encapsulation) */
nav ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    z-index: -1;
}

/* Set all item links to display block and set padding */
nav li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    text-align: center;
}

/* On link hover change colour */
nav li a:hover,
nav .menu-btn:hover {
    color: var(--link-hover-color);
    transition: var(--hover-transition);
}
  
nav .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}
  
/* menu */
nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
  
/* menu icon */
nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

/* Create center hamburger line */
nav .menu-icon .navicon {
    background: var(--heading-color);
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
}

/* Create top and bottom hamburger lines */
nav .menu-icon .navicon:before,
nav .menu-icon .navicon:after {
    background: var(--heading-color);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

nav .menu-icon:hover .navicon,
nav .menu-icon:hover .navicon:after,
nav .menu-icon:hover .navicon:before {
    background-color: var(--primary-color);
}

/* Set bottom hamburger line */
nav .menu-icon .navicon:before {
    top: 5px;
}
  
/* Set top hamburger line */
nav .menu-icon .navicon:after {
    top: -5px;
}
  
/* Hide Checkbox */
nav .menu-btn {
    display: none;
}

/* Give height to menu so it rolls out on click */
nav .menu-btn:checked ~ .menu {
    max-height: 240px;
}

/* Hide Middle Hamburger Line */
nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

/* Rotate Bottom Hamburger Line */
nav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
  
/* Rotate Top Hamburger Line */
nav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

/* Reset Position to Keep Centered */
nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* End of Navigation section */

/* Headings */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: var(--heading-color);
    letter-spacing: .2rem;
    margin: .3rem 0 .6rem 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    color: var(--heading-color);
    letter-spacing: .1rem;
    margin: .5rem 0 .5rem 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--heading-color);
    letter-spacing: .1rem;
    margin: .5rem 0 .5rem 0;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--heading-color);
    letter-spacing: .1rem;
    margin: 1.3rem 0 .4rem 0;
}

h5 {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--heading-color);
    letter-spacing: .1rem;
    margin: 1.3rem 0 .4rem 0;
}

h6 { margin: 0; }


/* Grouping */
p {
    line-height: 1.5;
    letter-spacing: .05rem;
    margin: .75rem 0 .75rem 0;
}

blockquote {  }

pre {
    border: 1px solid rgba(212,210,213, .2);
    border-radius: 4px;
    padding: .7rem 0px .7rem 2rem;
    background-color: var(--header-footer-color);
    color: var(--alternate-color);
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: visible;
}

pre code {
    padding: 0;
    border-radius: 0;
    line-height: 1.2rem;
}

/* Lists */
ul { }

ol { }

li {
    margin-top: .5rem; margin-bottom: .5rem;
    line-height: 1.3rem;
}

dl { }

dt { }

dd { }


/* Text */
em { color: var(--heading-color); }

strong {
    font-weight: 600;
    color: var(--border-color);
}

small { }

cite { }

time { }

code {
    font-family: 'Source Code Pro', monospace;
    background-color: var(--header-footer-color);
    padding: .07rem .1rem .07rem .1rem;
    border-radius: 4px;
}

/* Images */
figure { margin: 0; }

figcaption { }

img	{
    max-width: 800px;
    width: 100%;
    height: auto;
}


/* Anchors */
a { }

a:link, a:visited, a:active	{
    color: var(--primary-color);
}

/* Link Clickable Action */
a:link	{ }

/* Previously Clicked Action */
a:visited { }

/* On Hover Action */
a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

/* On Hold Action */
a:active {
    color: var(--font-color);
}

/* Table Formatting */
table {
    width: 100%;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: visible;
}

table, th, td {
    border: 1px solid var(--border-color);
}

table {
    font-size: 16px;
    text-align: center;
}


article header p { 
    margin: 0;
}

#logo {
    position: relative;
    float: left;
    font-size: 20px;
    padding: 20px;
    margin-left: 0;
    margin-right: auto;
    text-decoration: none;
    color: var(--heading-color);
}

#hero {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)),  url('../images/huxley-building.jpeg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 80vh;
    display: grid;
    place-content: center;
    text-align: center;
}

#hero h1 {
    text-transform: uppercase;
}

#hero img {
    height: 200px;
    width: auto;
    border-radius: 20px;
    margin: 20px;
}

#hero img{ 
    animation: pulse 1s infinite;
    animation-timing-function: ease;
}

/* Some fun animation using CSS */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

#float-example, #float-example img {
    height: 80px
}

#float-example img {
    width: 80px;
    float: left;
    padding-right: 20px;
}

/* Contents Card Layout */

.card-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card-container a {
    text-decoration: none;
}

.card {
    background-color: var(--header-footer-color);
    padding: 5px 20px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    border: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0px 0px 0px var(--page-color);
    -webkit-transition: box-shadow .2s ease-out;
    box-shadow: .8px .9px 3px var(--page-color);
}

.card:hover{
    box-shadow: 1px 8px 20px rgba(255, 255, 255, .1);
   -webkit-transition: box-shadow 0.2s ease-in;
}

.card * {
    color: var(--font-color);
}

.card:hover * {
    color: var(--primary-color);
    transition: var(--hover-transition);
}

.card *:first-child {
    font-size: 1.8em;
}

.card img {
    height: 200px;
    object-fit: cover;
}

#go-to-top {
    background-color: var(--header-footer-color);
    border: 1px solid var(--font-color);
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#go-to-top:hover {
    transition: var(--hover-transition);
    background-color: var(--font-color);
}

#go-to-top svg {
    fill: var(--font-color);
}

#go-to-top:hover svg {
    fill: var(--primary-color);
    transition: var(--hover-transition);
}