@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Source+Code+Pro:wght@300;400&display=swap');

/* Root Colour Scheme */
:root {
    --header-footer-color: #222222;
    --page-color: #2a2a2a;
    --border-color: #d4d2d5;

    /* General Palet */
    --primary-color: #1382CC;
    --secondary-color: #1F5880;
    --alternate-color: #E1E5F2;

    /* Font Colours */
    --heading-color: #FCFCFC;
    --font-color: #D4D2D5;
    --span-color: #D4D2D5;
    --footer-color: #E1E5F2;

    /* Transition Speeds */
    --hover-transition: .2s;
}

/* Applied Smoothing and Scroll Behaviour to All Elements */
* {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    
    scroll-behavior: smooth;
}

/* Main Element Styles */
html {
    background-color: var(--header-footer-color);
    font-size: 18px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--font-color);
    letter-spacing: .05rem;
}

header { }

main {
    background-color: var(--page-color);
}

article {
    padding: 1.11rem;
}

aside { }

footer { }

.post {
    margin: 0;
}

nav	{ }

.menu { }

nav ul {
    list-style-type: none;
    display: flex;
    width: auto;
}

nav li {
    display: block;
    margin: 0;
    border: 0;
    padding: .6rem;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    color: var(--font-color);
}
/* Headings */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: var(--heading-color);
    letter-spacing: .2rem;
    margin: .3rem 0 .6rem 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    color: var(--heading-color);
    letter-spacing: .1rem;
    margin: .5rem 0 .5rem 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--heading-color);
    letter-spacing: .1rem;
    margin: .5rem 0 .5rem 0;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--heading-color);
    letter-spacing: .1rem;
    margin: 1.3rem 0 .4rem 0;
}

h5 {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--heading-color);
    letter-spacing: .1rem;
    margin: 1.3rem 0 .4rem 0;
}

h6 { margin: 0; }


/* Grouping */
p {
    line-height: 1.5;
    letter-spacing: .05rem;
    margin: .75rem 0 .75rem 0;
}

blockquote {  }

pre {
    border: 1px solid rgba(212,210,213, .2);
    border-radius: 4px;
    padding: .7rem 0px .7rem 2rem;
    background-color: var(--header-footer-color);
    color: var(--alternate-color);
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: visible;
}

pre code {
    padding: 0;
    border-radius: 0;
    line-height: 1.2rem;
}

/* Lists */
ul { }

ol { }

li {
    margin-top: .5rem; margin-bottom: .5rem;
    line-height: 1.3rem;
}

dl { }

dt { }

dd { }


/* Text */
em { color: var(--heading-color); }

strong {
    font-weight: 600;
    color: var(--border-color);
}

small { }

cite { }

time { }

code {
    font-family: 'Source Code Pro', monospace;
    background-color: var(--header-footer-color);
    padding: .07rem .1rem .07rem .1rem;
    border-radius: 4px;
}

/* Images */
figure { margin: 0; }

figcaption { }

img	{
    max-width: 800px;
    width: 100%;
    height: auto;
}


/* Anchors */
a { }

a:link, a:visited, a:active	{
    color: var(--primary-color);
}

/* Link Clickable Action */
a:link	{ }

/* Previously Clicked Action */
a:visited { }

/* On Hover Action */
a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

/* On Hold Action */
a:active {
    color: var(--font-color);
}

/* Table Formatting */
table {
    width: 100%;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: visible;
}

table, th, td {
    border: 1px solid var(--border-color);
}


article header p { 
    margin: 0;
}


#float-example, #float-example img {
    height: 80px
}

#float-example img {
    width: 80px;
    float: left;
    padding-right: 20px;
}