@charset "UTF-8";

/* Root Colour Scheme */
:root {
    --header-footer-color: #222222;
    --page-color: #2a2a2a;
    --border-color: #d4d2d5;

    /* General Palet */
    --primary-color: #1382CC;
    --secondary-color: #1F5880;
    --alternate-color: #E1E5F2;

    /* Font Colours */
    --heading-color: #FCFCFC;
    --font-color: #D4D2D5;
    --span-color: #D4D2D5;
    --footer-color: #E1E5F2;

    /* Transition Speeds */
    --hover-transition: .2s;
}

/* Applied Smoothing and Scroll Behaviour to All Elements */
* {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    
    scroll-behavior: smooth;
}

/* Main Element Styles */
html {
    background-color: var(--header-footer-color);
}

body {
    font-family: Verdana, Geneva, sans-serif;
    color: var(--font-color);
    font-size: 16px;
    line-height: 20px;
}

#wrapper {
    background-color: var(--page-color);
}

header { }

main {
    background-color: var(--page-color);
}

article {
    padding: 20px;
}
aside { }
footer { }

.post {
    margin-top: 2px;
    margin-bottom: 2px;
}

nav	{ }

.menu { }

.menu li {
    list-style-type: none;
    font-size: 18px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.menu a {
    color: #000;
    padding: 5px;
    margin-right: 4px;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    border-radius: 3px;
}
.menu a:hover {
    background-color: var(--heading-color);
    color: var(--header-footer-color);
}
/* Headings */
h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #F60;
    font-size: 36px;
    line-height: 50px;
}
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }
/* Grouping */
p { }
blockquote { }
/* Lists */
ul { }
li { }
ol { }
dl { }
dt { }
dd { }
/* Text */
em { }
strong { }
small { }
cite { }
time { }

/* Images */
figure { }
figcaption { }

img	{
    max-width: 800px;
    height: auto;
}
/* Anchors */
a { }

a:link, a:visited, a:active	{
    color: #0090D2;
}

a:link	{ }

a:visited { }

a:hover {
    color: #0063A6;
    text-decoration: none;
}

a:active { }

/* Table Formatting */
table, th, td {
    border: 1px solid var(--border-color);
}